<div class="container">
  <div class="col-lg-3">
    <div [hidden]="submitted">
      <form (ngSubmit) = "onSubmit()">
        <label >First Name</label><input type="text" id="firstName" class="form-control"
                                         name="firstName" required
                                         [(ngModel)]="team.teamName">
        <hr>
        <button type="submit" class="btn btn-success">Save</button>
      </form>
    </div>
    <div [hidden]="!submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="addTeam()">Add</button>
    </div>
  </div>
</div>

