
<div class="container">
  <nav>
    <br>
    <hr>
    <a routerLink="employees" class="btn btn-primary active" role="button" routerLinkActive="active">Employees</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <a routerLink="teams" class="btn btn-primary active" role="button" routerLinkActive="active">Teams</a>
    &nbsp;
    &nbsp;
    &nbsp;

    <a routerLink="managers" class="btn btn-primary active" role="button" routerLinkActive="active">Managers</a>

    <hr>
  </nav>
  <router-outlet></router-outlet>
</div>

