<div class="container">
  <div class="col-lg-3">
    <div [hidden]="submitted">
    <form (ngSubmit) = "onSubmit()">
      <label >First Name</label><input type="text" id="firstName" class="form-control"
                                       name="firstName" required
                                       [(ngModel)]="employee.firstName">
     <!-- <div *ngIf="f.submitted && ! firstName.valid" class="help-block">First Name </div>-->
      <label >Last Name</label><input type="text" id="lastName" class="form-control"
                                      name="lastName" required
                                      [(ngModel)]="employee.lastName">
     <!-- <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name Required</div>-->
      <label >Email</label><input type="email" id="email" class="form-control" pattern="[^ @]*@[^ @]*"
                                  name="email" required
                                  [(ngModel)]="employee.email">
     <!-- <div *ngIf="f.submitted && ! email.valid" class="help-block">Email Required </div>-->

      <label >Password</label><input type="password" id="password" class="form-control"
                                     name="password" required
                                     [(ngModel)]="employee.password">
      <!--<div *ngIf="f.submitted && ! password.valid" class="help-block">Password Required </div>-->
      <label >Username</label><input type="text" id="userName" class="form-control"
                                     name="userName" required
                                     [(ngModel)]="employee.userName">
      <!--<div *ngIf="f.submitted && ! userName.valid" class="help-block">Last Required </div>-->
      <!--<label >Role</label><input type="text" id="role" class="form-control"
                                   name="role"
                                   [(ngModel)]="employee.role">-->

      <label >Role</label> <br><select id="role" class="form-control"
                                       name="role"
                                       [(ngModel)]="employee.role">
                                      <option *ngFor="let team of teams"
                                              [value]="team.id">
                                        ({{team.id}}){{team.teamName}}
                                      </option>
                                </select>
      <hr>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
    </div>
      <div [hidden]="!submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="addCustomer()">Add</button>
      </div>
  </div>
</div>
